
.warp {
  width: 100%;
  min-height: 300px;
  border: 1px solid red;
  padding-top: 20px;
}

.routes-item {
  width: 100%;
  min-height: 200px;
  border: 1px solid green;
  margin-top: 10px;
}

.route-item {
  cursor: pointer;
}