.App {
  text-align: center;
}

.view-block {
  border: 1px solid red;
  padding: 20px;
  margin: 20px;
}

.nav-block {
  border: 1px solid green;
  padding: 10px;
  margin: 10px 0;
}

.nav-bar {
  padding: 0 5px;
}